@font-face {
    font-family: PoppinsRegular;
    src: url("/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: PoppinsBold;
    src: url("/assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: RubikBold;
    src: url("/assets/fonts/Rubik-Bold.ttf");
}

:root {
    --violet: #3b2a9f;
    --orange: #fa8305;
    --purpleGradient: #5141aa;
    --box-bg: #1C140F;
    --bright: #ffffff;
}

.bg-violet {
    background-color: var(--violet);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-purpleGradient {
    background-color: var(--purpleGradient);
}

.bg-box-bg {
    background-color: var(--box-bg);
}

.bg-bright {
    background-color: var(--bright);
}

.f-reg {
    font-family: PoppinsRegular;
}

.f-bold {
    font-family: PoppinsBold;
}

.f-rubik {
    font-family: RubikBold;
}

.search_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 18px;
    border-radius: 15px;
    gap: 20px;
}
  
.object_pop {
    transition: 0.5s;
}
  
.object_pop:hover {
    scale: 110%;
}

  
.card_effect {
    transition: 1s;
}
  
.card_effect:hover {
    opacity: 75%;
    scale: 110%;
}